@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css);

.section-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;/*usefoul for mobile responsiveness*/
    align-items: center;
    justify-content: space-around;
}

#table-container{
    min-width: 410px;
    text-align: center;
}
table{
    padding: 0.5%;
    margin: 0.5%;
    border: 1px solid black;
    display: inline-grid;
    justify-items: center;
}
thead{
    border-bottom: 1px solid black;
}
